html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
    font-family: MyriadPro-Cond;
    src: url('../font/MyriadPro-Cond.eot'); 
    src: local('MyriadPro-Cond'),
       url('../font/MyriadPro-Cond.ttf') format('ttf'),
       url('../font/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
    width: 1100px;
    margin: auto;
    background-color: white;
}

#header {
    width: 1100px;
    height: 160px;
    background-color: white;
}

#head {
    background-color: #084a7b;
    height: 42px;
    color: white;
}

#logo {
    background-color: #084a7b;
    width: 171px;
    height: 111px;
    margin-left: 94px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-radius: 0 0 10px 10px;
    float: left;
}

#logo img {
    padding: 9px 2px 3px 4px;
}

#centr {
    font-size: 24px;
    font-family: MyriadPro-Cond;
    padding: 0 48px;
    color: white;
}

#centr img {
    padding: 0 10px 0 48px; 
}

#centr a {
    font-size: 16px;
    padding-right: 5px;
}

#menu {
    color: #242424;
    margin: 50px 0 0 300px;
    padding-left: 15px;
    font-size: 15px;
}

#menu a {
    padding-right: 15px;
    text-decoration: none;
    color: #242424;
}

.space {
    margin-left: 30px;
}

#menu span {
    margin: 0 50px 0 15px;
}

.menu_a {
    font-size: 20px;
    color: #eaecee;
    background-color: #084a7b;
    margin-right: 6px;
    border-radius: 10px 10px 0 0;
    line-height: 38px;
    padding: 12px 10px 8px 10px;
}

#product {
    background-image: url(../img/product_bg.png);
    background-repeat: repeat-x;
    margin-left: 300px;
}

#menu_bottom li {
    display: inline-block;
}

.prod {
    padding: 11px 16px;
    line-height: 39px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: inline;
}

.hover_block {
    padding: 0 22px 0 18px;
    display: none;
    background: url(../img/opacity.png);
    line-height: 25px;
    position: absolute;
}

.hover_block li {
    display: inline;
}

.hover_block a {
    text-decoration: none;
    color: #2d2d2d;
}

.hover_block span {
    padding: 0 15px;
}

.prod:hover {
    background: url(../img/opacity_bg.png);
}

#menu_bottom li:hover .hover_block {
    display: inline-block;
}

#keramo {
    width: 1100px;
    height: 402px;
    background: url(../img/keramo_bg.jpg) no-repeat;
    clear: both;
}

#search_button {
    float: left;
    margin-left: 95px;
}

#search {
    background: url(../img/search_bg.png) no-repeat;
    color: white;
    font-size: 16px;
    font-style: italic;
    border: none;
    float: left;
    width: 143px;
    height: 26px;
}

h1 {
    font-size: 40px;
    text-align: right;
    padding-bottom: 80px;
}

h1 a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white; 
}

#keramo_text {
    width: 377px;
    height: 260px;
    float: right;
    margin: 83px 47px 59px 0;
}

#keramo_text p {
    color: white;
    font-size: 18px;
    text-align: right;
}

#keramo_nal a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid white; 
}

#keramo_nal {
    text-align: right;
    padding-top: 30px;
}

#gradient {
    height: 52px;
    width: 1100px;
    background: url(../img/shadow.png) no-repeat;
}

#keramika {
    width: 100%;
    float: left;
}

h2 {
    font-size: 30px;
    width: 156px;
    line-height: 48px;
    margin: 2px 0;
}

h2 a {
    color: #084a7b;
    text-decoration: none;
}

h2:hover {
    background: url(../img/choose.png) no-repeat;
}

#choice {
    padding: 8px 0 0 80px;
    float: left;
}

#plitka {
    float: right;
    height: 192px;
    width: 820px;
    display: inline;
    margin-top: -24px;
}

.block {
    width: 190px;
    height: 192px;
    margin-left: 15px;
    float: left;
    position: relative;
}

.block:hover .inblock {
     display: inherit;
     position: absolute;
     top:0;
     left: 0;
}

.inblock {
    width: 100%;
    height: 100%;
    display: none;
    background: url(../img/nav_bg.png);
    color: white;
    font-size: 23px;
    line-height: 34px;
    font-weight: bold;
}

.inblock a {
    color: white;
}

.look {
    float: right;
    font-size: 12px;
    padding-right: 7px; 
}

.cost {
    font-size: 23px;
}

.cost span {
    vertical-align: super;
    font-size: 14px;
}

.cost span a {
    vertical-align: super;
}

.model {
    font-size: 18px;
}

.zakaz {
    font-size: 30px;
}

#news {
    margin: 55px 0 0 80px;
    width: 190px;
    float: left;
}

#news p {
    color: #5a5a5a;
    font-size: 14px;
    margin-bottom: 12px;
}

#news p a {
    color: #5a5a5a;
    font-size: 14px;
}

h3 {
   margin-bottom: 40px; 
}

h3 span {
    color: #084a7b;
    font-size: 24px;
    border-bottom: 1px dotted #5a5a5a;
}

.news {
    height: 260px;
    width: 190px;
}

#answer {
    float: left;
    margin: 55px 0 0 0;
}

#answer h3 {
    margin:0 0 8px 25px;
}

.article {
    margin-left: 25px;
    width: 240px;
    height: 300px;
    font-size: 12px;
    color: #616161;
    float: left;
}

.article p {
    height: 260px;
}

h4 {
    color: #32505f; 
    font-size: 24px;
    padding-bottom: 5px;
}

#partner {
    margin-left: 50px;
    clear: both;
    padding: 35px 0 23px 0;
}

#partner img {
    margin: 0 15px 0 30px;
}

#line {
    background: url(../img/line_x.png) repeat-x;
    width: 100%;
    height: 7px;
    padding-bottom: 8px;
}

#info {
    
}

.contact {
    width: 207px;
    float: left;
    color: #084a7b;
    font-size: 20px;
}

h5 {
    font-size: 30px;
    padding: 20px 0;
}

.contact a {
    text-decoration: none;
    color: #084a7b;
}

.contact p span {
    font-size: 20px;
}

.line_y {
    background: url(../img/line_y.png) repeat-y;
    height: 165px;
    width: 5px;
    float: left;
    margin: 0 15px 5px 15px;
}

.info_sclad {
    width: 250px;
    float: left;
    color: #084a7b;
    font-size: 20px;
}





#footer {
    background-color: white;
    height: 70px;
    clear: both;
}

#foot {
    height: 48px;
    width: 100%;
    background-color: #084a7b;
    font-size: 14px;
}

#foot_right {
    color: white;
    font-size: 14px;
    float: right;
    margin-right: 100px;
    line-height: 48px;
}

#foot_left {
    padding-left: 100px;
    float: left;
    line-height: 48px;
}

#foot_left a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding-right: 17px;
}

