/*          ПОИСК           */
#content {
    min-height: 550px;
    margin: 0 40px 0 0;
}

#search_field {
    float: left;
    width: 100%;
    margin-bottom: 23px;
}

#search {
    width: 340px !important;
    border-bottom-right-radius: 2px;
    behavior: url('PIE.htc');
}

#search_result {
    float: left;
    margin-left: 94px;
}

#search_result_field {
    margin: 25px 0 25px 20px;
    float: left;
    font-family: MyriadPro-Semibold;
    font-size: 15px;
    color: #3c3c3c;
}

#search_catalog_result {
    text-transform: uppercase;
    display: block;
    cursor: pointer;
}

.search_result_news {
    margin-bottom: 20px;
}

.result_block a {
    color: #29628d;
}

.result_block {
    display: none;
}

#search_menu {
    border-top: 1px solid #747474;
    line-height: 25px;
    width: 970px;
}

#search_menu a {
    padding: 7px 15px 3px 15px;
    background-color: #084a7b;
    border-radius: 0 0 5px 5px;
    behavior: url('PIE.htc');
    color: white;
    font-size: 15px;
    font-family: MyriadPro-Semibold;
    margin-right: 3px;
    text-decoration: none;
    opacity: .6;
    position: relative;
    filter: alpha(opacity=60);
}
/*для ie8 и ie9*/
#search_menu a {
    padding: 5px 15px 3px 15px\0/;
}

.hover_search {
    color: #29628d;
    text-decoration: underline;
}