html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline: none !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #064A7B;
}
#wrapper {
    width: 1100px;
    margin: 0 auto;
    background-color: white;
}

#header {
    width: 1100px;
    height: 180px;
    background-color: white;
    clear: both;
}

#head {
    background-color: #d5d8dd ;
    border-top: 5px solid #003399;
    border-bottom: 1px solid #003399;
    height: 50px;
    color: #003399;
}

#logo {
    background-color: transparent;
    width: 230px;
    height: 141px;
    border-radius: 0 0 10px 10px;
    float: left;
    margin: 0 0 0 26px;
    behavior: url('PIE.htc');
    position: relative;
}
#logo404 {
    background-color: transparent;
    width: 230px;
    height: 141px;
    border-radius: 0 0 10px 10px;
    float: left;
    margin: 0 0 0 420px;
    behavior: url('PIE.htc');
    position: relative;
}

#logo img {
    padding: 0 0 0 0;
}

#centr {
    margin: 0 0 0 30px;
    float: left;
}

#centr span {
    font-size: 24px;
    font-family: 'Open Sans light', sans-serif;
    font-weight: 300;
    padding: 16px 0 0 0 ;
    color: #003399;
    float: left;
}

#centr img {
    padding: 8px 8px 0 50px;
    float: left;
}

#centr a {
    font-size: 20px;
    padding: 0 6px 0 0;
    color: #003399;
}

#centr strong {
    font-size: 24px;
}

#menu {
    color: #5a5a5a;
    padding: 3px 30px;
    font-size: 12px;
    font-family: 'Open Sans Light', sans-serif;
    float: left;
}

#menu a {
    text-decoration: none;
}

.space {
    margin-left: 10px;
    margin-right: 20px;
}
.space:first-child {
    margin-left: 0;

}
/*для ie8*/
.space  {
    margin-right: 20px\0/;
}
:root .space  {
    margin-right: 15px\0/;
}
#menu span {
    margin: 0 50px 0 15px;
}

.menu_left {
    font-size: 18px;
    background-color: #003399;
    margin: 41px 0 0 160px;
    border-radius: 10px;
    line-height: 38px;
    padding: 10px;
    color: #eaecee;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    behavior: url('PIE.htc');
    position: relative;
}

#product {
    background: #2b3d4d url('../img/product_bg.png') repeat;
    width: 1100px;
    height: 40px;
    margin-top: 140px;
    clear: both;

}

.dop_menu {
    padding: 0 15px;
    position: relative;
    width: 190px;
    height: 100%;
    float: none;
    text-align: center;
}

.dop_menu2 {
    width: 30%;
    position: relative;
    height: 100%;
    float: none;
    text-align: center;
}

.prod {
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: inline;
    font-family: 'Open Sans light', sans-serif;

}

.hover_block {
    padding: 5px 22px 0 18px;
    background: url('../img/opacity.png');
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    vertical-align: middle;
    white-space: nowrap;
}

.hover_block>li {
    display: inline;
}

.hover_block a {
    text-decoration: none;
    color: #2d2d2d;
}

.hover_block span {
    padding: 0 8px;
}

#podmenu {
    width: 800px;
    height: 26px;
    float: right;
}

#granit {
    float: left;
    display: none;
}

#fasad {
    float: left;
    margin-left: 20%;
    display: none;
}

#kamen {
    float: left;
    margin-left: 40%;
    display: none;
}

#rezka {
    float: right;
    display: none;
}

.dop_menu:hover, .dop_menu2:hover {
    background: url('../img/opacity_bg.png');
}

#keramo {
    width: 1100px;
    height: 300px;
    clear: both;
    margin-top: -14px;
}

#search_button {
    float: left;
    margin: 0 0 0 300px;
}

#search {
    background: #ccc url('../img/search_background.png');
    border-radius: 3px;
    behavior: url('PIE.htc');
    color: white;
    font-size: 16px;
    width: 232px;
    height: 26px;
    margin: 0  0 0 0;
    float: left;
    position: relative;
}


h1, h2, h3, h4, h5 {
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 300;
    color: #003399;
    margin: 1em 0;
}
.product-container {
    padding-bottom: 20px;
}
#right_catalog {
    padding-bottom: 20px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

#keramo_text {
    width: 450px;
    height: 160px;
    right: 20px;
    left: auto;
    background: none;
    margin: 24px 47px 59px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}
#keramo_text b, #keramo_text b a {
    color: white;
    text-decoration: none;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 60px;
    text-align: right;
    display: block;
    text-transform: uppercase;
}


#keramo_text p {
    color: white;
    font-size: 18px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;

}

#keramo_nal a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 1px solid white;
}

#keramo_nal {
    text-align: right;
    padding-top: 15px;
}

#gradient {
    height: 52px;
    width: 1100px;
    background: url('../img/shadow.png') no-repeat;
}

#keramika {
    width: 100%;
    float: left;
}

#choice li {
    width: 156px;
    height: 48px;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
}

#choice li a {
    color: #003399;
    text-decoration: none;
    font-size: 30px;
    padding-left: 5px;
}

#choice li:hover, #choice li.active {
    background: url('../img/choose.png') no-repeat;
}


/*h2:hover a {
    opacity: .5;
}
*/

#choice {
    padding: 8px 0 0 30px;
    float: left;
}

.plitka {
    float: right;
    height: 192px;
    width: 820px;
    display: inline;
    margin-top: -14px;
}

#product {padding: 0; border: 0;}
#product ul, #cssmenu li {list-style: none; margin: 0; padding: 0;}
#product ul {position: relative; z-index: 597; }
#product ul li { float: left; min-height: 16px; vertical-align: middle;}
#product ul li.hover,
#product ul li:hover {position: relative; z-index: 599; cursor: default;}
#product ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}
#product ul ul li {float: none;}
#product ul ul ul {top: 0; left: auto; right: -99.5%; }
#product>ul:hover li > ul { visibility: visible;}
#product ul ul {bottom: 0; left: 0;}
#product ul ul {margin-top: 0; }
#product ul ul li {
    font-weight: normal;
    background: #d5d8dd ;
    opacity: .8;
    padding: 5px 15px;
}
#product ul ul a {
    display: block;
    text-align: left;
    color: #242424;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
#product ul ul a:hover {
    color: #fff;
}

#product ul .active ul li {
    font-weight: normal;
    background: #bbb ;
    opacity: 1;
    padding: 5px 15px;
}

.active .prod {
    color: #ccc;
}

.block {
    width: 190px;
    height: 192px;
    margin-left: 15px;
    float: left;
    position: relative;
}

.block:hover .inblock {
    display: inherit;
    position: absolute;
    top:0;
    left: 0;
}

.inblock {
    width: 100%;
    height: 100%;
    display: none;
    background: url('../img/nav_bg.png');
    color: white;
    font-size: 23px;
    line-height: 34px;
    font-weight: bold;
}

.inblock p {
    padding-left: 20px;
}

.inblock a {
    color: white;
}

.pict {
    float: right;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 7px 0 90px;
}

.pict img {
    vertical-align: middle;
}

.pict a {
    text-decoration: none;

}

.cost {
    font-size: 20px;
    font-family: 'Open Sans Light', sans-serif;
    line-height: 1.2;
}

.cost span {
    vertical-align: super;
    font-size: 14px;
}

.cost span a {
    vertical-align: super;
}

.model {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    line-height: 1.2;
}

.zakaz {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

#news, #contact_news {
    margin: 55px 34px 0 30px;
    width: 190px;
    float: left;
}

#news p, #contact_news p {
    color: #666;
    font-size: 13px;
    margin-bottom: 14px;
    font-family: 'Open Sans', sans-serif;
}
#news p b, #contact_news p b {
    color: #666;
    font-size: 16px;
}

#news p a {
    font-size: 12px;
}


.news_title {
    color: #003399;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

#point {
    width: 115px;
    height:8px;
    background: url('../img/point.png') repeat-x;
    margin-bottom: 10px;
}

.news {
    /*height: 260px;*/
    width: 190px;
}

#answer {
    float: left;
    margin: 55px 0 0 10px;
}

#answer .news_title {
    margin-left: 25px;
}

#point_answer {
    background: url('../img/point.png') repeat-x;
    width: 290px;
    height:8px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.article {
    margin-left: 20px;
    width: 255px;
    /*height: 300px;*/
    font-size: 13px;
    color: #666;
    float: left;
    font-family: 'Open Sans', sans-serif;
}


.groupfix:after {
    content: "";
    display: table;
    clear: both;
}

span.h4 {
    color: #064A7B;
    font-size: 20px;
    padding: 0 0 2px 0;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: 300;
}

#partner {
    margin-left: 50px;
    clear: both;
    padding: 35px 0 23px 0;
}

#partner img {
    margin: 0 50px 0 50px;
}

#line {
    background: url('../img/line_x.png') repeat-x;
    width: 100%;
    height: 7px;
    margin-top: 18px;
    padding-bottom: 18px;
}

#info {
    margin-left: 40px;
    padding-top: 40px;
}

#info p {
    line-height: 23px;
}

.contact {
    width: 250px;
    float: left;
    color: #003399;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

span.h5 {
    font-size: 20px;
    padding: 20px 0 10px 0;
    font-family: 'Open Sans Light', sans-serif;
    font-weight: normal;
}


.contact p span {
    font-size: 14px;
    font-weight: bold;
}

.line_y {
    background: url('../img/line_y.png') repeat-y;
    height: 165px;
    width: 5px;
    float: left;
    margin: 0 15px 5px 15px;
}

.info_sclad {
    width: 265px;
    padding: 0 0 0 15px;
    float: left;
    color: #003399;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

#footer {
    clear: both;
    background-color: #d5d8dd ;
}

#footer_footer {
    background-color: #d5d8dd ;
    height: 60px;
    padding-top: 20px;
    clear: both;
}

#foot {
    height: 48px;
    width: 100%;
    background-color: #d5d8dd ;
    border-top: 1px solid #003399;
    font-size: 14px;
    font-family: 'Open Sans Light', sans-serif;
}

#foot_right {
    color: #064A7B;
    font-size: 14px;
    float: right;
    margin-right: 112px;
    line-height: 48px;
}

#foot_left {
    padding-left: 40px;
    float: left;
    line-height: 48px;
}

#foot_left a {
    color: #064A7B;
    text-decoration: none;
    font-size: 14px;
    padding-right: 17px;
}

#content {
    clear: both;
}


/*              Галерея             */
#navigation {
    line-height: 40px;
    float: left;
    font-size: 9.31px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 300px;
    color: #2d2d2d;
}

#navigation a, .nav_catalog a {
    color: #064a7b;
    margin-left: 18px;
}
.nav_catalog a, #navigation .nav_catalog a {
    margin-left: 0;
}


#navigation span, .nav_catalog span {
    font-size: 12px;
}

#gallery {
    margin: 5px 38px 5px 95px;
    clear: both;
}

.gallery_name {
    color: #074b7c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.gallery_link {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    text-align: right;
    clear: both;
}

.gallery_link span {
    color: #074b7c;
    padding: 0 7px;
}

.gallery_link img {
    padding: 0 7px;
    position: relative;
    top: 10px;
}

.open_link {
    color: black;
    text-decoration: none;
}

.next_link {
    color: #074b7c;
    text-decoration: none;
}

.plita_left {
    float: left;
    width: 214px;
    height: 215px;
    background: url('../img/plita_bg.png');
    position: relative;
    margin: 5px 37px 25px 0;
    overflow: hidden;
}

.plita_left img, .plita_right img {
    padding: 5px 0 0 7px;
}

.plita_left:hover .inblock, .plita_right:hover .inblock {
    display: block;
    position: absolute;
    top:0;
    left: 0;
}

.pict_gallery {
    float: right;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 8px 0 90px;
}

.pict_gallery img {
    vertical-align: middle;
    padding-right: 3px;
}

.pict_gallery a {
    text-decoration: none;
}

.cost_gallery {
    font-size: 26px;
    font-family: 'Open Sans Light', sans-serif;
}

.cost_gallery span {
    vertical-align: super;
    font-size: 14px;
}

.cost_gallery span a {
    vertical-align: super;
}

.model_gallery {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.zakaz_gallery {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding-top: 20px;
}

.plita_right {
    float: right;
    width: 214px;
    height: 215px;
    background: url('../img/plita_bg.png');
    position: relative;
    margin: 5px 0 25px 0;
    overflow: hidden;
}


/*          КОНТАКТЫ           */
#map {
    width: 100%;
    height: 402px;
    /*background: url('../img/map.jpg');*/
    /*margin-top: 35px;*/
    clear: both;
}

#contact_info {
    width: 800px;
    padding: 15px 0;
    background: url('../img/contact_bg.png');
    float: right;
    /*position: relative;*/
    /*top: 237px;*/
}

.contact_page {
    float: left;
    color: white;
    margin: 10px 0 0 30px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

#contact_title {
    color: white;
    margin: 0 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.adress_phone {
    padding-bottom: 5px;
}

#location {
    background-color: #e4e7e9;
    float: right;
    width: 800px;
    font-size: 18px;
    padding-bottom: 20px;
}

#location strong {
    color: #3c3c3c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#location p {
    padding-top: 20px;
    padding-right: 70px;
    padding-left: 25px;
    font-family: 'Open Sans', sans-serif;
}

#bottom_loc {
    /*padding-bottom: 20px;*/
}

.news_contact p a {
    font-size: 16px !important;
}

#contact_news_title {
    color: #003399;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

#contact_point {
    width: 85px;
    height: 8px;
    background: url('../img/point.png') repeat-x;
    margin-bottom: 15px;
}

#messager {
    float: right;
    width: 690px;
    margin: 25px 80px 45px 0;
}

.message_param {
    width: 220px;
    padding-right: 10px;
    float: left;
}

.message_param p, #comment p {
    padding-left: 5px;
    color: #242424;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.message_param input {
    background-color: #f6f6f6;
    border: 2px solid #ededed;
    height: 30px;
    width: 216px;
    font-size: 1.3em;
}

#comment {
    margin: 10px 0 10px 0;
    float: left;
}

#comment textarea {
    width: 676px;
    background-color: #f6f6f6;
    border: 2px solid #ededed;
}

#contact_button {
    background-image: url('../img/button_bg.png');
    height: 34px;
    width: 92px;
}

.gzhel {
    color: #003399;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
.control-group {
    padding-bottom: 20px;
}
.help-inline, .alert {
    color: red;
}
#content {
    font-family: 'Open Sans', sans-serif;
}
#content .carousel-control {
    font-family: 'Times New Roman';
}
.news_title a {
    color: #003399;
}
.bottom-bordered {
    padding: 7px 0 12px;
    border-bottom: 1px solid #d5d8dd ;
    content: "";
    display: table;
    clear: both;
}
.area-link {
    color: #000000;
}